@media screen and (max-width: 1025px){
	.projectCard {
		margin-bottom: 5%;
	}
	.showTitle {
		color: white;
		text-align: center;
		padding: 5px;
		padding-top: 3%; 
		padding-bottom: 4%;
		display: block;
		background-color: rgb(0,150,136);
	}
}

@media screen and (min-width: 1025px){
	.showTitle {
		display: none;
	}
}

.postLink{
	cursor: pointer;
	text-decoration: underline;
}

.projectCard {
	width: 80%;
	margin-left: 10%;
	background-color: white;
	padding: 10px;
	min-height: 250px;
	height: 250px;
}