<header class="site-header" style="border: none; background-color: rgb(33, 33, 33);">
  <div class="wrapper">
    <style>
      .navButton{
        border: 2px solid #284229 !important;
        background-color: #303030;
        color:white;
        border-radius: 2px;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        float:left;
        margin-right: 1em;
      }
      .navButton:hover{
        transform: scale(.98);
        cursor: pointer;
      }
      h2{
        color: white;
        padding-top:5px;
      }
    </style>
    <h2>The SpaceBlog - Spacecats64's Blog</h2>
    <ul id="nav" style="list-style-type: none; display: inline;">
      <li><a href="https://spacecats64.github.io"><button class = "navButton">Site Home</button></a></li>
      <li><a href="www.spacecats64.github.oi/blog/"><button class = "navButton">Blog Home</button></a></li>
    </ul>
  </div>

</header>
