#topBar{
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 50px;
	width: 100%;
	background-color: black;
	border-bottom: 1.5px solid white;
}
#nav a{
	color:white;
	text-decoration: none;
	font-size: 20px;
	font-family: Tahoma, Arial;
	float:left;
	padding: 10px;
}
#nav :hover a{
	transform: scale(.9);
}
#nav{
	list-style-type: none;
	margin: 1px;
	padding: 1px;
}
body{
    font-family: tahoma;
    background-color: black;
    color: white;
    margin-top: 5rem;
}

.container{
    border: 1.5px solid white;
    padding: 10px;
    background-color: gray;
    color: white;
}
.articleTitle{
    text-align: center;
}
.aListTitle{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.nightMode{
    color: white;
    margin-top: 2em;
    padding: 2px;
    background-color: gray;
    border: 1px solid white;
}