#topBar{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #388e3c;
	min-height: 50px;
	width: 100%;
	box-shadow: 0px 0px 6px 0.2px #212121;
}
#nav a{
	color:white;
	text-decoration: none;
	font-size: 20px;
	font-family: Tahoma, Arial;
	float:left;
	padding: 10px;
	text-shadow: 2px 1.5px 2px #000000;
}
#nav :hover a{
	transform: scale(.9);
}
#nav{
	list-style-type: none;
	margin: 1px;
	padding: 1px;
}
body {
	background-color: #3f51b5;/*#4caf50;*/
	margin-top: 5rem;
	font-family: Tahoma, Arial;
}
table{
	width: 100%;
}
.container{
	background-color: #388e3c;
	color: #212121;
    padding: 10px;
    min-height: 240px;
	box-shadow: 0px 0px 4px #212121;
}
.container > h1, .container > h3{
	color: #FFFFFF;
}
a{
	color: #FFFFFF;
	text-decoration: none;
}
#morevids{
	float: left;
	margin-top: 2%;
	padding:5px;
	border-radius: 5px;
	max-height: 3em;
	display: block;
	color: #FFFFFF;
	box-shadow: 0px 0px 2px #404040;
	background-color: #607d8b;
}
#lVideo{
	width: 94%;
}
#lVideo > iframe{
	display: block;
	margin: auto;
}
#vCell{
	max-width: 30vw;
}
#slideshow{
	max-height: 190px;
}
#playLst *{
	float: left;
}
#exVideos{
	display: none;
	background-color: #607d8b;
	padding: 5px;
	box-shadow: -2px 2px 5px #404040;
}